<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Search Engine -->
    <meta name="description" content="The online chord progression generator and ear trainer">
    <meta name="image" content="<%= BASE_URL %>img/ChordfishFbShare.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Chordfish">
    <meta itemprop="description" content="The online chord progression generator and ear trainer">
    <meta itemprop="image" content="<%= BASE_URL %>img/ChordfishFbShare.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Chordfish">
    <meta name="og:description" content="The online chord progression generator and ear trainer">
    <meta name="og:image" content="<%= BASE_URL %>img/ChordfishFbShare.png">
    <meta name="og:url" content="https://chordfish.com">
    <meta name="og:site_name" content="Chordfish">
    <meta name="og:locale" content="en_GB">
    <meta name="fb:admins" content="729260231">
    <meta name="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Chordfish">
    <meta name="twitter:description" content="The online chord progression generator and ear trainer">
    
    <title>Chordfish</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Chordfish doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Amaranth&display=swap" rel="stylesheet">
  </body>
</html>
