<template>
  <div class="home">
    <div class="no-print">
      <section class="has-background-gradient overlap-section">
        <div class="container">
          <div class="level is-mobile pb-3">
            <div class="level-left">
              <key-selector class="level-item"/>
            </div>
          </div>
        </div>
      </section>
      
      <div class="has-top-radius has-background-light overlap-section" v-if="edit">
        <chord-selector/>
      </div>

      <chord-progression-builder id="chord-progression-builder" />
    </div>

    <printable-chord-progression/>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import ChordProgressionBuilder from "@/components/ChordProgressionBuilder.vue";
import KeySelector from '@/components/KeySelector.vue'
import ChordSelector from '@/components/ChordSelector.vue'
import PrintableChordProgression from '@/components/PrintableChordProgression.vue'
import hasChordProgression, { HasChordProgressionMixinData } from '@/mixins/hasChordProgression'

export default (Vue as VueConstructor<HasChordProgressionMixinData>).extend({
  name: "Home",
  mixins: [hasChordProgression],
  components: {
    ChordProgressionBuilder,
    KeySelector,
    ChordSelector,
    PrintableChordProgression
  }
})
</script>

<style lang="scss" scoped>
</style>