<template>
  <section class="section">
    <div class="container">
      <h1>404</h1>
      <div>
        <img src="/img/lick.png" alt="The lick"/>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  
})
</script>