<template>
  <div>
    <section class="has-background-gradient overlap-section">
      <div class="container">
        <div class="level is-mobile pb-3">
          <div class="level-left practice-menu">
            <b-menu>
              <b-menu-list>
                <b-menu-item
                  tag="router-link"
                  :to="{ name: 'Practice scale'}"
                  label="Scale"
                />
                <b-menu-item
                  tag="router-link"
                  :to="{ name: 'Practice chord'}"
                  label="Chord"
                />
              </b-menu-list>
            </b-menu>
          </div>
        </div>
      </div>
    </section>
    
    <router-view/>
  </div>
</template>

<style lang="scss">
@import '../assets/sass/bulmaVariables';
@import '../assets/sass/colours';

.practice-menu .menu-list {
  display: flex;
  a {
    color: $white;
    &:hover, &:active, &:focus {
      background-color: $light-blue-vivid-600;
    }
  }
  
}
</style>