<template>
  <div>
    <div class="has-top-radius has-background-light overlap-section">
      <div class="container">
        <div class="columns is-reversed-mobile">
          <div class="column is-one-quarter pb-5">
            <h3>Root notes</h3>
            <b-field v-for="note in selectableNotes" :key="note.item.asSharp">
              <b-checkbox v-model="note.selected">{{ note.item.enharmonic(isFlats) }}</b-checkbox>
            </b-field>

            <h3>Scales</h3>
            <b-field v-for="scale in selectableScales" :key="scale.item.name">
              <b-checkbox v-model="scale.selected">{{ scale.item.name }}</b-checkbox>
            </b-field>
          </div>

          <div class="column px-5 py-5">
            <h2>Random scale</h2>
            <div v-if="canRandomize">
              <div class="chord-display chord-box is-clipped tile is-vertical has-background-tonic mb-5 py-5">
                <div class="tile centered-xy is-size-0 is-unselectable">
                  {{ note.item.enharmonic(isFlats) }}
                </div>
                <div class="tile centered-xy is-size-3 has-text-weight-light is-unselectable">
                  {{ scale.item.name }}
                </div>
              </div>
              <button class="button is-primary" @click="randomize">Randomize</button>
            </div>
            <div v-else>
              Select one or more notes and one or more scales
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { notes, Note } from '../application/models/notes'
import { majorScale, naturalMinorScale, harmonicMinorScale, Scale } from '../application/models/scales'
import { SelectableT, selectRandom } from '../application/models/selectable'
import hasBreakpoints, { HasBreakpointsMixinComputed } from '@/mixins/hasBreakpoints'
import hasEnharmonics, { HasEnharmonicsMixinData } from '@/mixins/hasEnharmonics'

type Mixins = HasBreakpointsMixinComputed & HasEnharmonicsMixinData

export default (Vue as VueConstructor<Mixins>).extend({
  mixins: [hasBreakpoints, hasEnharmonics],
  data () {
    const selectableNotes = notes.map(n => new SelectableT(n, true))
    const selectableScales = [
      new SelectableT(majorScale, true),
      new SelectableT(naturalMinorScale, true),
      new SelectableT(harmonicMinorScale, true)
    ]
    return {
      note: selectableNotes[0],
      scale: selectableScales[0],
      selectableNotes,
      selectableScales
    }
  },
  beforeMount () {
    this.randomize()
  },
  computed: {
    availableNotes (): SelectableT<Note>[] {
      return this.selectableNotes.filter(n => n.selected)
    },
    availableScales (): SelectableT<Scale>[] {
      return this.selectableScales.filter(n => n.selected)
    },
    canRandomize (): boolean {
      return this.availableNotes.length > 0 && this.availableScales.length > 0
    }
  },
  methods: {
    randomize() {
      this.note = selectRandom(this.availableNotes)
      this.scale = selectRandom(this.availableScales)
    }
  }
})
</script>
