<template>
  <div>
    <section class="has-background-gradient overlap-section">
      <div class="container">
        <div class="level is-mobile pb-3">
          <div class="level-left">
            <key-selector class="level-item"/>
          </div>
        </div>
      </div>
    </section>

    <!-- desktop -->
    <div v-if="!isMobile" class="has-top-radius has-background-light overlap-section">
      <div class="container">
        <div class="columns">
          <training-menu class="column is-one-quarter pb-5" :selectedDegrees="degrees" :custom="custom"/>

          <div class="column px-5 py-5">
            <training-player v-if="degrees && degrees.length > 0"
              :degrees="degrees"
              :variants="variants"
              :inversions="inversions"
              :octaves="octaves"
              :can-share="canShare"/>
            <b-message v-else title="Train your ear" type="is-warning" :closable="false">
              <p class="is-size-5 mb-3">Choose an interval or a chord progression to train</p>
              <p>A single chord progression can have a lot of different sounds depending on how the chords in it are voiced or inverted.</p>
              <p>Chordfish helps you internalise the sound of chord changes or progressions by automatically generating and playing the different combinations.</p>
            </b-message>
          </div>
        </div>
      </div>
    </div>
    <!-- end desktop -->

    <!-- mobile -->
    <div v-if="isMobile" class="is-hidden-desktop has-top-radius has-background-light overlap-section">
      <div class="container py-5">
        <training-player v-if="degrees && degrees.length > 0"
          :degrees="degrees"
          :variants="variants"
          :inversions="inversions"
          :octaves="octaves"
          :can-share="canShare" />
        <b-message v-else title="Train your ear" type="is-warning" :closable="false">
          <p class="is-size-5 mb-3">Choose an interval or a chord progression to train</p>
          <p>A single chord progression can have a lot of different sounds depending on how the chords in it are voiced or inverted.</p>
          <p>Chordfish helps you internalise the sound of chord changes or progressions by automatically generating and playing the different combinations.</p>
        </b-message>
      </div>
    </div>
    <div v-if="isMobile" class="is-hidden-desktop has-top-radius has-background-white overlap-section">
      <div class="container">
        <training-menu :selectedDegrees="degrees" :custom="custom"/>
      </div>
    </div>
    <!-- end mobile -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import KeySelector from '@/components/KeySelector.vue'
import TrainingPlayer from '@/components/TrainingPlayer.vue'
import TrainingMenu from '@/components/TrainingMenu.vue'
import { TRIAD, SEVENTH } from '../application/models/chords'
import { octaves as allowedOctaves } from '@/application/models/octaves'
import hasBreakpoints from '@/mixins/hasBreakpoints'

const allowedVariants = [TRIAD, SEVENTH].map(v => v.toString())

export default Vue.extend({
  mixins: [hasBreakpoints],
  components: {
    KeySelector,
    TrainingPlayer,
    TrainingMenu
  },
  data() {
    return {
      degrees: undefined as number[] | undefined,
      variants: undefined as string[] | undefined,
      inversions: undefined as boolean | undefined,
      octaves: undefined as number[] | undefined,
      custom: false,
      canShare: !!navigator.share
    }
  },
  watch: {
    '$route.query': {
      handler() {
        const { degrees, variants, inversions, octaves, custom } = this.$route.query
        const degreeArr: number[] | undefined = degrees ? (degrees as string).split(',').map(d => +d).filter(d => d >= 1 && d <= 7).slice(0, 4) : undefined
        const variantsArr: string[] | undefined = variants ? (variants as string).split(',').map(v => v.toLowerCase().trim()).filter(v => allowedVariants.includes(v)) : undefined
        const inversionsBool: boolean | undefined = inversions ? inversions === 'true' : undefined
        const octavesArr: number[] | undefined = octaves ? (octaves as string).split(',').map(o => +o).filter(o => allowedOctaves.includes(o)) : undefined
        this.degrees = degreeArr,
        this.variants = variantsArr,
        this.inversions = inversionsBool,
        this.octaves = octavesArr
        this.custom = custom === 'true'
      },
      immediate: true
    }
  }
})
</script>