<template>
  <div class="columns is-mobile is-relative">
    <div v-for="(chord, i) in chords"
      class="column mb-3 mt-1 chord-progression-slot"
      :class="{'is-rest': !chord}"
      :key="i"
      tabindex="0"
      @focus="() => focusSlot(i)"
      @blur="() => blurSlot(i)">
      
      <chord-option v-if="chord" class="chord-builder-box"
        :degree="chord.getDegree(scaleInKey, isFlats)"
        :variant="chord.variantType"
        :inversion="chord.inversion"
        :octave="chord.octave"
        :show-play="false"
        :sampler="sampler"
        :sampler-loaded="samplerLoaded"
        :show-delete="true"
        :selectable="true"
        :editable="edit"
        @change:variant="variant => updateVariant(variant, i)"
        @change:inversion="inversion => updateInversion(inversion, i)"
        @change:octave="octave => updateOctave(octave, i)"
        @delete="() => onDelete(i)">
        <button slot="top-right" @click="() => onDelete(i)" class="delete mr-1 mt-1"></button>
      </chord-option>
      
      <div class="chord-builder-box" v-else></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import * as Tone from 'tone'
import { ChordProgressionChordOrUndefined } from '@/application/models/chordProgression'
import { KeyScaleChord, ScaleInKey } from '@/application/models/ScaleInKey'
import ChordOption from '@/components/ChordOption.vue'
import { Inversion, VariantType } from '@/application/models/chords'

export default Vue.extend({
  props: {
    chords: { type: Array as () => ChordProgressionChordOrUndefined[], required: true},
    scaleInKey: { type: ScaleInKey, required: true },
    isFlats: { type: Boolean, required: true },
    sampler: { type: Tone.Sampler, required: true },
    samplerLoaded: { type: Boolean, required: true },
    edit: { type: Boolean, default: true }
  },
  components: {
    ChordOption
  },
  methods: {
    focusSlot(index: number) {
      this.$emit('focus-slot', index)
    },
    blurSlot(index: number) {
      this.$emit('blur-slot', index)
    },
    updateVariant(variantType: VariantType<KeyScaleChord>, index: number) {
      this.$emit('update-variant', variantType, index)
    },
    updateInversion(inversion: Inversion, index: number) {
      this.$emit('update-inversion', inversion, index)
    },
    updateOctave(octave: number, index: number) {
      this.$emit('update-octave', octave, index)
    },
    onDelete(index: number) {
      this.$emit('delete', index)
    }
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/bulmaVariables';
@import '../assets/sass/colours';

.chord-progression-slot {
  &:focus {
    outline: none;
    .chord-builder-box {
      box-shadow: $chordShadowHighlight;
    }
  }
}
.chord-builder-box {
  margin: 0 0.05em !important;
}
.columns {
  justify-content: center;
  &> .column.chord-progression-slot {
    flex: none;
    width: 12.5%;
  }
}
.is-rest {
  div {
    padding: 1em;
    height: 100%;
    width: 100%;
    margin-top: -0.5em;
    margin-bottom: 1em;
    background: $grey-200;
    color: #fff;
    border: 4px dashed $light-blue-vivid-600;
    border-radius: 10px;
    box-shadow: 0 0 0 4px $grey-200, $chordShadow;
  }
}

@include until($desktop) {
  .columns {
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    &> .column.chord-progression-slot {
      width: 22%;
    }
  }
}
@include until($tablet) {
  .columns > .column.chord-progression-slot {
    width: 42%;
  }
}
</style>