<template>
  <div class="chord-switch">
    <icon-chord class="mr-2 is-white is-medium is-small-mobile"/>
    <b-switch :value="value" :size="isMobile ? 'is-small' : ''" @input="updateArpeggio" type="is-white" passive-type="is-white" outlined/>
    <icon-arpeggio class="is-white is-medium is-small-mobile"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import IconChord from '@/assets/icons/icon-chord.svg'
import IconArpeggio from '@/assets/icons/icon-arpeggio.svg'
import hasBreakpoints from '@/mixins/hasBreakpoints'

export default Vue.extend({
  mixins: [hasBreakpoints],
  props: {
    value: { type: Boolean }
  },
  components: {
    IconChord,
    IconArpeggio
  },
  methods: {
    updateArpeggio(isArpeggio: boolean) {
      this.$emit('input', isArpeggio)
    }
  }
})
</script>

<style lang="scss" scoped>
.chord-switch {
  display: flex;
  align-items: center;
}
</style>