<template>
  <div class="chord-option is-clipped pt-3 chord-box tile no-stack is-ancestor is-vertical"
    :class="topClassName"
    @mouseenter="hovered = true"
    @mouseleave="hovered = false">
    <div class="top-right" v-if="editable">
      <slot name="top-right">
        <button @click.prevent="select" @mousedown.prevent class="button is-text px-0 py-0 add-button" :title="`Add ${title} to chord progression`">
          <icon-add-square class="is-medium"/>
        </button>
      </slot>
    </div>
    
    <div :class="{'show-function': hovered}" class="function-indicator top-left">{{ degree.chordFunction.name }}</div>
    
    <div class="tile is-12 is-parent px-0" :title="title">
      <div class="tile is-child centered-xy is-size-1 is-unselectable">
        <span>{{ keyScaleChord.chordNumeral }}</span>
      </div>
      <div class="tile is-parent is-vertical px-0">
        <div v-if="showPlay" v-hotkey="keymap" class="tile is-child centered-xy">
          <button @mousedown.prevent :disabled="!samplerLoaded" @click="play" class="button is-text px-0 py-0" :title="`Play ${title}`">
            <icon-play class="is-large"/>
          </button>
        </div>
        <div class="tile">
          <div class="tile is-child centered-xy is-size-4 has-text-weight-light is-unselectable">
            <span v-html="keyScaleChord.chordSymbol"></span>
          </div>
          <div class="tile is-vertical octave-control" :title="`Octave ${selectedOctave}`" v-if="editable">
            <div class="tile centered-xy">
              <button class="button is-text cheveron-button" :disabled="selectedOctave >= maxOctave" @click="selectedOctave++" title="Octave up">
                <icon-cheveron-up/>
              </button>
            </div>
            <div class="tile centered-xy primary is-size-6 has-text-weight-light is-unselectable" :title="`Octave ${selectedOctave}`">
              <span>{{selectedOctave}}</span>
            </div>
            <div class="tile centered-xy">
              <button class="button is-text cheveron-button" :disabled="selectedOctave <= minOctave" @click="selectedOctave--" title="Octave down">
                <icon-cheveron-down/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tile is-12 is-parent px-0 py-0 is-vertical">
      <div class="tile is-12 is-parent px-0 py-0 has-colour-border">
        <div v-for="variant in variants" :key="variant.name" class="tile px-0 py-0 is-child has-text-centered">
          <button @mousedown.prevent :disabled="!editable" :class="`button px-0 py-0 has-text-weight-light is-fullwidth ${variant.name === selectedVariant.name ? 'is-active': ''}`" @click="selectedVariant = variant">
            {{ variant.name }}
          </button>
        </div>
      </div>
      <div class="tile is-12 is-parent px-0 py-0 has-colour-border">
        <div v-for="inversion in inversions" :key="inversion.number" class="tile px-0 py-0 is-child has-text-centered">
           <button @mousedown.prevent :disabled="!editable" :class="`button px-0 py-0 has-text-weight-light is-fullwidth ${inversion.name === selectedInversion.name ? 'is-active': ''}`" @click="selectedInversion = inversion" :title="inversion.name + ' inversion'">
            {{ inversion.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import * as Tone from 'tone'
import { KeyScaleDegree, KeyScaleChord } from '@/application/models/ScaleInKey'
import { Inversion, VariantType, variants } from '@/application/models/chords'
import { playChord } from '@/application/TonePlayer'
import IconPlay from '@/assets/icons/icon-play.svg'
import IconAddSquare from '@/assets/icons/icon-add-square.svg'
import IconCheveronUp from '@/assets/icons/icon-cheveron-up.svg'
import IconCheveronDown from '@/assets/icons/icon-cheveron-down.svg'
import { SetChordParameters } from '../application/models/chordProgression'
import { minOctave, maxOctave, defaultOctave } from '@/application/models/octaves'
import { mapState } from 'vuex'

export default Vue.extend({
  props: {
    degree: { type: KeyScaleDegree },
    sampler: { type: Tone.Sampler },
    samplerLoaded: { type: Boolean },
    variant: { type: VariantType, default: () => variants[0] },
    inversion: { type: Number, default: 0 },
    octave: { type: Number, default: defaultOctave },
    showPlay: { type: Boolean, default: true },
    selectable: { type: Boolean, default: false },
    editable: { type: Boolean, default: true }
  },
  components: {
    IconPlay,
    IconAddSquare,
    IconCheveronUp,
    IconCheveronDown
  },
  data() {
    const typedVariant = this.variant as VariantType<KeyScaleChord>
    const root: Inversion = typedVariant.func(this.degree.chords).chord.inversions[this.inversion]
    return {
      variants,
      selectedVariant: typedVariant,
      selectedInversion: root,
      selectedOctave: this.octave,
      minOctave: minOctave,
      maxOctave: maxOctave,
      hovered: false
    }
  },
  computed: {
    ...mapState('app', [
      'keyBindingsActive'
    ]),
    keyScaleChord(): KeyScaleChord {
      return this.selectedVariant.func(this.degree.chords)
    },
    inversions(): Inversion[] {
      return this.keyScaleChord.chord.inversions
    },
    cssClass(): string {
      return this.degree.chordFunction.cssClass
    },
    className(): string {
      return `has-background-${this.cssClass}`
    },
    topClassName(): string {
      return `${this.className} ${this.hovered ? 'hovered': ''}`
    },
    title(): string {
      const degree = this.degree.degree
      const chord = this.keyScaleChord.chordName
      return `${degree} : ${chord} : ${this.selectedInversion.name} inversion : ${this.degree.chordFunction.name} function`
    },
    keymap(): Keymap {
      const deg = `deg${this.degree.degree}`
      return this.keyBindingsActive ? {
        [deg]: this.play
      } : {}
    }
  },
  watch: {
    inversions() {
      // If you switch form 7th to triad there are fewer invesions, so make sure we're on one that exists
      if(!this.inversions[this.selectedInversion.number]) {
        this.selectedInversion = this.inversions[this.inversions.length-1]
      }
    },
    selectedVariant() {
      this.$emit('change:variant', this.selectedVariant)
    },
    selectedInversion() {
      this.$emit('change:inversion', this.selectedInversion)
    },
    selectedOctave() {
      this.$emit('change:octave', this.selectedOctave)
    },
    variant(variant: VariantType<KeyScaleChord>) {
      this.selectedVariant = variant
    },
    inversion(inversion: number) {
      this.selectedInversion = this.inversions[inversion]
    },
    octave(octave: number) {
      this.selectedOctave = octave
    }
  },
  methods: {
    play() {
      playChord(this.sampler as Tone.Sampler, this.keyScaleChord, this.selectedInversion.number, '1m', this.selectedOctave)
    },
    select() {
      this.$emit('select', { variant: this.selectedVariant, inversion: this.selectedInversion.number, octave: this.selectedOctave })
    },
    onMousedown(event: MouseEvent) {
      if(!this.selectable) {
        event.preventDefault()
      }
    },
    getChordParameters(): SetChordParameters {
      return {
        degree: this.degree.degree,
        variantType: this.selectedVariant,
        inversion: this.selectedInversion.number,
        octave: this.selectedOctave
      }
    }
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/variables';
@import '~bulma/bulma.sass';
@import '../assets/sass/colours';

.chord-option {
  touch-action: manipulation;
  border: transparent 1px solid;
  box-sizing: border-box;
  
  .top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .top-left {
    position: absolute;
    top: 4px;
    left: 6px;
  }
}
.button {
  border-color: transparent;
  background-color: rgba($black,0.2);
  color: $white;
  &.is-active {
    background-color: rgba($black,0.3);
    border-color: transparent;
    color: $white;
  }
  &.is-light {
    background-color: rgba($white,0.2);
  }
  &:not(:disabled) {
    &:hover, &:active, &:focus {
      color: $white;
      border-color: transparent;
      background-color: rgba($black,0.6);
      .primary {
        fill: rgba($black,0.6);
      }
    }
  }
  .primary {
    fill: rgba($black,0.3);
  }
  .secondary {
    fill: $white;
  }
  &.is-text {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }
  &.add-button {
    width: 2.25em;
    height: 2.25em;
    border-radius: 0;
  }
}
.has-colour-border {
  .tile {
    border-top: solid rgba($black,0.2) 1px;
    border-left: solid rgba($black,0.2) 1px;
    box-sizing: border-box;
    &:first-child {
      border-left: none;
    }
    .button {
      background-color: transparent;
      font-family: $chordFont;
      border-radius: 0;
      &:not(:disabled) {
        &.is-active, &:hover, &:active, &:focus {
          background-color: rgba($black, 0.3);
        }
      }
      &:disabled {
        cursor: auto;
        outline: none;
        border: none;
        &.is-active {
          opacity: 1;
        }
        &.is-active, &:hover, &:active, &:focus {
          color: $white;
        }
      }
    }
  }
}
.function-indicator {
  color: $white;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0;
  &.show-function {
    opacity: 0.6;
  }
}
.tile.indicators {
  line-height: 12px;
  .indicator-button {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: none;
  }
}
.octave-control {
  color: rgba($white, 0.8);
  .cheveron-button {
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    margin: -5px 0;
    &:focus, &:active, &:hover {
      background-color: rgba($black, 0.3);
    }
  }
}
.chord-option:focus {
  outline: none;
}
</style>
