<template>
  <section class="mb-3">
    <div class="level is-mobile container">
      <div class="level-left">
        <b-switch :size="isMobile ? 'is-small' : ''" v-model="showSuggestions">Suggest</b-switch>
      </div>

    <div class="level-right">
        <div class="level-item">
          <icon-order-horizontal class="is-small-mobile"/>
          <div class="select is-transparent ml-3" :class="{'is-small': isMobile}">
            <select v-model="order">
              <option v-for="o in orders" :key="o.name" :value="o">{{ o.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <section class="container to-edge-mobile">
      <div class="columns is-mobile chord-selector mt-3 py-3" :class="{'show-suggested': showSuggestions}">
        <div v-for="degree in orderedDegrees" :key="degree.note"
          class="column chord-degree">
          <chord-option 
            class="mx-0 mb-1 degree-select"
            :class="{'is-suggested': suggestionsForDegree(degree.degree).length > 0}"
            :degree="degree"
            :ref="degree.degree"
            :key="degree.note"
            :sampler="sampler"
            :samplerLoaded="samplerLoaded"
            @select="selected => addChord(degree.degree, selected.variant, selected.inversion, selected.octave)"/>
        </div>
      </div>
    </section>
  </section>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { mapState } from 'vuex'
import { VariantType } from '@/application/models/chords';
import { KeyScaleChord, KeyScaleDegree } from "@/application/models/ScaleInKey";
import { suggestNextChord } from '@/application/ChordSuggester'
import { PreciseChordWeighting } from '@/application/models/chordWeightings';
import { SetChordParameters } from '@/application/models/chordProgression';
import { setChord } from '@/application/ChordProgressionManager'
import ChordOption from '@/components/ChordOption.vue'
import IconOrderHorizontal from '@/assets/icons/icon-order-horizontal.svg'
import hasBreakpoints, { HasBreakpointsMixinComputed } from '@/mixins/hasBreakpoints'
import hasChordProgression, { HasChordProgressionMixinData } from '@/mixins/hasChordProgression'
import hasScaleInKey, { HasScaleInKeyMixinData } from '@/mixins/hasScaleInKey'
import hasEnharmonics, { HasEnharmonicsMixinData } from '@/mixins/hasEnharmonics'

interface ChordOptionVm {
  getChordParameters(): SetChordParameters
}

type Mixins = HasChordProgressionMixinData & HasBreakpointsMixinComputed & HasScaleInKeyMixinData & HasEnharmonicsMixinData

export default (Vue as VueConstructor<Mixins>).extend({
  name: 'ChordSelector',
  mixins: [hasBreakpoints, hasChordProgression, hasScaleInKey, hasEnharmonics],
  components: {
    ChordOption,
    IconOrderHorizontal
  },
  data() {
    const orders = [
      { name: 'degree' },
      { name: 'function' }
    ]
    return {
      orders,
      order: orders[0],
      showSuggestions: false
    }
  },
  computed: {
    ...mapState('sampler', [
      'samplerLoaded',
      'sampler'
    ]),
    ...mapState('chordProgression', [
      'selectedIndex'
    ]),
    orderedDegrees(): KeyScaleDegree[] {
      switch(this.order.name) {
        case 'function':
          return this.scaleInKey.degreesByFunction(this.isFlats)
        default:
          return this.scaleInKey.degrees(this.isFlats)
      }
    },
    suggestions(): PreciseChordWeighting[] {
      return suggestNextChord(this.chordProgression, this.selectedIndex)
    }
  },
  methods: {
    addChord(degree: number, variantType: VariantType<KeyScaleChord>, inversion: number, octave: number) {
      setChord(this.$route, this.$router, {
        degree,
        variantType,
        inversion,
        octave,
        index: this.selectedIndex
      } as SetChordParameters)
    },
    suggestionsForDegree(degree: number) {
      return this.suggestions.filter(s => s.toDegree === degree)
    },
    cloneChord(degree: KeyScaleDegree): SetChordParameters {
      const chordOptionVm = (this.$refs[degree.degree] as Vue[])[0] as unknown as ChordOptionVm
      return chordOptionVm.getChordParameters();
    },
    getChordParams(index: number): SetChordParameters {
      return this.cloneChord(this.orderedDegrees[index])
    }
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/variables';
@import '~bulma/bulma.sass';

.columns > .column.chord-degree {
  flex: none;
  width: 14.285714%;
}
@include until($desktop) {
  .columns > .column.chord-degree {
    width: 22%;
  }
  .chord-selector {
    overflow-x: auto;
    white-space: nowrap;
  }
}
@include until($tablet) {
  .columns > .column.chord-degree {
    width: 42%;
  }
}
.chord-degree {
  &:hover {
    transform: scale(1.05);
    .chord-box {
      box-shadow: $chordShadowRaised;
    }
  }
}
.show-suggested .chord-degree {
  .is-suggested {
    box-shadow: $chordShadowHighlight;
  }
}
</style>