<template>
  <div class="chord-display chord-box is-clipped tile is-vertical" :class="className">
    <div class="tile centered-xy is-size-0 is-unselectable">
      <span>{{ keyScaleChord.chordNumeral }}</span>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile">
        <div class="tile centered-xy is-size-3 has-text-weight-light is-unselectable">
          <span v-html="keyScaleChord.chordSymbol"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { KeyScaleChord, KeyScaleDegree, ScaleInKey } from '../application/models/ScaleInKey'
import { ChordProgressionChord } from '../application/models/chordProgression'

export default Vue.extend({
  props: {
    chord: { type: ChordProgressionChord },
    scaleInKey: { type: ScaleInKey },
    isFlats: { type: Boolean }
  },
  computed: {
    keyScaleDegree(): KeyScaleDegree {
      return this.chord.getDegree(this.scaleInKey, this.isFlats)
    },
    keyScaleChord(): KeyScaleChord {
      return this.chord.getChord(this.scaleInKey, this.isFlats)
    },
    title(): string {
      const degree = this.keyScaleChord.degree
      const chord = this.keyScaleChord.chordName
      return `${degree} : ${chord}`
    },
    cssClass(): string {
      return this.keyScaleDegree.chordFunction.cssClass
    },
    className(): string {
      return `has-background-${this.cssClass}`
    }
  }
})
</script>

<style lang="scss" scoped>
.chord-display {
  height: 10em;
}
</style>