<template>
  <section v-if="!bannerDismissed" class="has-background-primary-light">
    <div class="container">
      <div class="level py-1">
        <div class="level-left">
          <span class="level-item">We use cookies to improve the experience of the site.</span>
        </div>
        <div class="level-right">
          <button class="button is-primary is-small" @click="setBannerDismissed(true)">Ok</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'

export default Vue.extend({
  name: 'CookieBanner',
  computed: {
    ...mapState('app', [ 'bannerDismissed' ])
  },
  methods: {
    ...mapActions('app', [ 'setBannerDismissed' ])
  }
})
</script>