<template>
  <form class="custom-training py-3 px-3" @submit.prevent="onSubmit">
    <b-field label="Degrees">
      <b-field  group-multiline grouped>
        <b-select v-for="i in [0,1,2,3]" :key="i" v-model="degrees[i]">
          <option :value="null"></option>
          <option v-for="degree in allowedDegrees" :key="degree" :value="degree">{{degree}}</option>
        </b-select>
      </b-field>
    </b-field>
    
    <b-field>
      <b-field label="Chord variants" class="mr-5">
        <b-dropdown v-model="variants" multiple position="is-top-right" aria-role="list">
          <button class="button is-primary" type="button" slot="trigger">
            <span>{{ variants.join(', ') }}</span>
            <b-icon icon="menu-down"></b-icon>
          </button>

          <b-dropdown-item v-for="variant in allowedVariants" :key="variant" :value="variant" aria-role="listitem">
            <span>{{variant}}</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-field>

      <b-field label="Octaves">
        <b-dropdown v-model="octaves" multiple position="is-top-right" aria-role="list">
          <button class="button is-primary" type="button" slot="trigger">
            <span>{{ octaves.join(', ') }}</span>
            <b-icon icon="menu-down"></b-icon>
          </button>

          <b-dropdown-item v-for="octave in allowedOctaves" :key="octave" :value="octave" aria-role="listitem">
            <span>{{octave}}</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-field>
    </b-field>

    <b-field>
      <b-switch v-model="inversions">Inversions</b-switch>
    </b-field>

    <b-field>
      <button class="button is-primary" type="submit" :disabled="degrees.length === 0">Go</button>
    </b-field>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'
import { octaves as allowedOctaves } from '@/application/models/octaves'
import { TRIAD, SEVENTH } from '../application/models/chords'


export default Vue.extend({
  data() {
    return {
      degrees: [1, 4, 5],
      inversions: true,
      octaves: [2, 3],
      variants: [TRIAD],

      allowedDegrees: [1,2,3,4,5,6,7],
      allowedOctaves,
      allowedVariants: [TRIAD, SEVENTH].map(v => v.toString())
    }
  },
  watch: {
    variants() {
      if(this.variants.length === 0) {
        this.variants = [TRIAD]
      }
    },
    octaves() {
      if(this.octaves.length === 0) {
        this.octaves = [3]
      }
    }
  },
  methods: {
    onSubmit() {
      if(this.degrees.length === 0) return
      
      this.$router.push({name: 'Training', query: {
        degrees: this.degrees.length ? this.degrees.filter(d => !!d).join(',') : undefined,
        inversions: this.inversions ? this.inversions.toString() : undefined,
        octaves: this.octaves.length ? this.octaves.join(',') : undefined,
        variants: this.variants.length ? this.variants.join(',') : undefined,
        custom: 'true'
      }})
    }
  }
})
</script>

