<template>
  <div class="enharmonic-switch">
    <span :class="textClasses" class="mx-3 is-size-4 is-size-5-mobile has-text-weight-bold">#</span>
    <b-switch :value="isFlats" @input="updateIsFlats" :size="isMobile ? 'is-small' : ''" :type="switchType" :passive-type="switchType" outlined />
    <span :class="textClasses" class="is-size-4 is-size-5-mobile has-text-weight-bold">♭</span>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { setIsFlats } from '@/application/EnharmonicManager'
import hasEnharmonics, { HasEnharmonicsMixinData } from '@/mixins/hasEnharmonics'
import hasBreakpoints, { HasBreakpointsMixinComputed } from '@/mixins/hasBreakpoints'

type Mixins = HasEnharmonicsMixinData & HasBreakpointsMixinComputed

export default (Vue as VueConstructor<Mixins>).extend({
  mixins: [hasEnharmonics, hasBreakpoints],
  computed: {
    textClasses() {
      return this.isMobile ? 'has-text-dark' : 'has-text-white'
    },
    switchType() {
      return this.isMobile ? 'is-dark' : 'is-white'
    }
  },
  methods: {
    updateIsFlats(isFlats: boolean) {
      setIsFlats(this.$route, this.$router, isFlats)
    }
  }
})
</script>