<template>
  <form class="modal" :class="{'is-active': showModal}" @submit.prevent="onSubmit">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Name your creation</p>
        <button class="delete" aria-label="close" @click="showModal = false"></button>
      </header>
      <section class="modal-card-body" >
        <input class="input" v-model.trim="exportName" autofocus type="text" placeholder="Text input"/>
      </section>
      <footer class="modal-card-foot">
        <button type="button" class="button" @click="showModal = false">Cancel</button>
        <button type="submit" class="button is-success">Export</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'

export interface ExportModalType {
  show(name: string, onSave: (name: string) => void): void
}

export default Vue.extend({
  data () {
    return {
      showModal: false,
      exportName: '',
      onSave: (name: string) => { console.log(name) } // this is only to get the typing right. Actual implementation will be passed in
    }
  },
  watch: {
    name (name: string) {
      this.exportName = name
    },
    showModal(show: boolean) {
      // Make sure keybindings set elsewhere aren't active while we're typing into the modal
      this.setKeyBindingsActive(!show)
    }
  },
  methods: {
    ...mapActions('app', [
      'setKeyBindingsActive'
    ]),
    show(name: string, onSave: (name: string) => void) {
      this.exportName = name
      this.onSave = onSave
      this.showModal = true
      Vue.nextTick(() => this.focus())
    },
    onSubmit() {
      this.onSave(this.exportName)
      this.showModal = false
    },
    focus() {
      const input = this.$el.querySelector('input.input') as HTMLElement
      input.focus()
    }
  }
})
</script>