<template>
  <footer class="footer has-background-dark has-text-light">
    <section class="container">
      <div class="columns">
        <div class="column is-one-half-desktop is-12-mobile footer-links">
          <p><a href="https://gitlab.com/timbarclay/chord-progress-vue" target="_blank"><icon-gitlab class="icon-gitlab mr-3"/> <span class="has-text-light">Code on Gitlab</span></a></p>
          <p><a href="https://twitter.com/timbarclay" target="_blank"><icon-twitter class="icon-twitter mr-3"/> <span class="has-text-light">Tweet me</span></a></p>
          <p><a href="https://medium.com/@timbarclay" target="_blank"><icon-medium class="icon-medium mr-3"/> <span class="has-text-light">Writing on Medium</span></a></p>
        </div>
        <div class="column is-one-half-desktop is-12-mobile footer-links">
          <div class="menu-label">My other projects</div>
          <p><a href="https://www.playsthis.com/" target="_blank"><icon-music class="icon-playsthis mr-3"/> <span class="has-text-light">Plays This</span></a></p>
        </div>
      </div>
    </section>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue'
import IconGitlab from '@/assets/icons/icon-gitlab.svg'
import IconTwitter from '@/assets/icons/icon-twitter.svg'
import IconMedium from '@/assets/icons/icon-medium.svg'
import IconMusic from '@/assets/icons/icon-music.svg'

export default Vue.extend({
  components: {
    IconGitlab,
    IconTwitter,
    IconMedium,
    IconMusic
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/colours';
.menu-label {
  color: $grey-400;
}
</style>

<style lang="scss">
$gitlabBrand: #E24329;
$twitterBrand: #1DA1F2;
$mediumBrand: #E8F3EC;
$playsThisBrand: #FFFFFF;

@mixin footerLink($name, $colour) {
  .footer-links a {
    .icon-#{$name} {
      stroke: $colour;
      .primary {
        fill: transparent;
      }
    }
    &:hover, &:focus, &:active {
      .icon-#{$name} .primary {
        fill: $colour;
      }
    }
  }
}

@include footerLink('gitlab', $gitlabBrand);
@include footerLink('twitter', $twitterBrand);
@include footerLink('medium', $mediumBrand);
@include footerLink('playsthis', $playsThisBrand);

.footer-links a {
  display: flex;
  margin-bottom: 1em;
  height: 1.5em;
}
</style>