<template>
  <nav class="navbar has-background-gradient" role="navigation" aria-label="main navigation">
    <div class="container py-4">
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/">
          <h1>Chordfish</h1>
        </router-link>

        <a role="button" @click="toggleMenu" :class="{'is-active': showMenu}" class="navbar-burger burger" aria-label="menu" :aria-expanded="showMenu" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" :class="{'is-active': showMenu}">
        <div class="navbar-end" @click="toggleMenu">
          <enharmonic-selector class="navbar-item"/>
          <router-link class="navbar-item py-0 px-1 mx-3" :to="{ name: 'Create' }">Composer</router-link>
          <router-link class="navbar-item py-0 px-1 mx-3" :to="{ name: 'Training'}">Ear Training</router-link>
          <router-link class="navbar-item py-0 px-1 mx-3" :to="{ name: 'Practice'}">Practice</router-link>
          <!-- <router-link class="navbar-item py-0 px-1 mx-3" :to="{ name: 'Testing' }">Ear Test</router-link> -->
        </div>
      </div>
      
    </div>
    <div class="dismiss-bg" v-if="showMenu" @click="toggleMenu"></div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'
import EnharmonicSelector from '@/components/EnharmonicSelector.vue'

export default Vue.extend({
  components: {
    EnharmonicSelector
  },
  data() {
    return {
      showMenu: false
    }
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    }
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/variables';
@import '~bulma/bulma.sass';
@import '../assets/sass/bulmaVariables';

.navbar-brand a {
  color: $white;
}

.dismiss-bg {
  display: none;
}

@include until($desktop) {
  .navbar-menu {
    display: block;
    position: fixed;
    right: -400px;
    top: 0;
    height: 100vh;
    pointer-events: none;
    padding: 4em 4em 1em 0.5em;
    z-index: 40;
    .navbar-item {
      padding: 0.5em !important;
      width: 220px;
      color: $black;
      &:hover, &:active, &:focus {
        border-bottom: none;
        color: $black;
      }
      &.router-link-exact-active {
        border-bottom: none;
      }
    }
  }
  .navbar-menu.is-active {
    right: -3.5em;
    transform: none;
    pointer-events: auto;
  }
  .dismiss-bg {
    display: block;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .navbar-burger {
    z-index: 41;
    color: $white;
    &.is-active {
      color: $black;
    }
  }
}
</style>