<template>
  <div v-hotkey="keymap">
    <div class="container is-relative">
      <button class="button is-text play-button" :title="playing ? 'Stop' : 'Play'" :disabled="disablePlayback" @click="toggle">
        <icon-pause class="is-large" v-if="playing"/>
        <icon-play class="is-large" v-else/>
      </button>
      
      <div class="columns is-vcentered is-centered pt-3 is-mobile">
        <b-field class="column is-2-desktop is-6-mobile has-text-centered">
          <chord-switcher v-model="localArpeggio"/>
        </b-field>

        <b-field class="column is-2-desktop is-6-mobile has-text-centered">
          <button class="button general-control is-text mb-1" :title="loop ? 'Loop' : 'Play once'" @click="() => updateLoop(!loop)">
            <icon-refresh v-if="loop" class="is-large is-medium-mobile"/>
            <icon-no-refresh v-else class="is-large is-medium-mobile"/>
          </button>
        </b-field>
      </div>
      
      <div class="columns is-centered is-mobile pb-5">
        <b-field class="column is-2-desktop is-6-mobile has-text-centered bpm-input">
          <b-slider :value="bpm" @input="updateBpm" lazy :min="100" :max="300" />
          <p class="control is-transparent">
            <span class="button is-text is-static" :class="{'is-small': isMobile}">{{bpm}} BPM</span>
          </p>
        </b-field>

        <b-field class="column is-2-desktop is-6-mobile has-text-centered">
          <b-dropdown hoverable aria-role="list" position="is-top-left" class="has-text-left">
            <button class="button is-text is-outlined is-white is-static" :class="{'is-small': isMobile}" title="Export progression" slot="trigger">
              <icon-door-exit class="mr-2 is-white-and-blue is-small-mobile"/> Export
            </button>

            <b-dropdown-item v-if="canShare" has-link aria-role="menuitem">
              <a href="#" @click.prevent="share"><icon-inbox-upload class="mr-3 is-small"/> Share</a>
            </b-dropdown-item>
            <b-dropdown-item has-link aria-role="menuitem"><a href="#" @click.prevent="copy"><icon-duplicate class="mr-3 is-small"/> Copy link</a></b-dropdown-item>
            <b-dropdown-item has-link aria-role="menuitem" v-if="!disablePlayback"><a href="#" @click.prevent="download"><icon-headphones class="mr-3 is-small"/> Export midi</a></b-dropdown-item>
            <b-dropdown-item has-link aria-role="menuitem" v-if="!disablePlayback"><a href="#" @click.prevent="print"><icon-document-notes class="mr-3 is-small"/> Export chord sheet</a></b-dropdown-item>
            <b-dropdown-item has-link aria-role="menuitem" v-if="!disablePlayback"><router-link :to="earTrainingLink"><icon-ear class="mr-3 is-small"/> Open in Ear Training</router-link></b-dropdown-item>
          </b-dropdown>
        </b-field>
      </div>
    </div>

    <export-modal ref="exportModal"/>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { mapState, mapActions } from 'vuex'
import ExportModal, {ExportModalType} from '@/components/ExportModal.vue'
import IconPlay from '@/assets/icons/icon-play.svg'
import IconPause from '@/assets/icons/icon-pause.svg'
import ChordSwitcher from '@/components/ChordSwitcher.vue'
import IconRefresh from '@/assets/icons/icon-refresh.svg'
import IconNoRefresh from '@/assets/icons/icon-no-refresh.svg'
import IconDoorExit from '@/assets/icons/icon-door-exit.svg'
import IconDocumentNotes from '@/assets/icons/icon-document-notes.svg'
import IconHeadphones from '@/assets/icons/icon-headphones.svg'
import IconDuplicate from '@/assets/icons/icon-duplicate.svg'
import IconInboxUpload from '@/assets/icons/icon-inbox-upload.svg'
import IconEar from '@/assets/icons/icon-ear.svg'
import hasBreakpoints, { HasBreakpointsMixinComputed } from '@/mixins/hasBreakpoints'
import hasPlaybackSettings, { HasPlaybackSettingsMixin } from '@/mixins/hasPlaybackSettings'
import { setBpm, setLoop, setArpeggio } from '@/application/PlaybackSettingsManager'
import _debounce from 'lodash/debounce'
import { RawLocation } from 'vue-router'

type Mixins = HasBreakpointsMixinComputed & HasPlaybackSettingsMixin

export default (Vue as VueConstructor<Mixins>).extend({
  mixins: [hasBreakpoints, hasPlaybackSettings],
  props: {
    playing: { type: Boolean },
    disablePlayback: { type: Boolean },
    canShare: { type: Boolean },
    progression: { type: Array as () => number[] }
  },
  data() {
    return {
      showNameModal: false
    }
  },
  components: {
    ExportModal,
    IconPlay,
    IconPause,
    ChordSwitcher,
    IconRefresh,
    IconNoRefresh,
    IconDoorExit,
    IconDocumentNotes,
    IconHeadphones,
    IconDuplicate,
    IconInboxUpload,
    IconEar
  },
  computed: {
    ...mapState('chordProgression', [
      'progressionName'
    ]),
    ...mapState('app', [
      'keyBindingsActive'
    ]),
    exportName: {
      get(): string {
        return this.progressionName
      },
      set(value: string) {
        this.setName(value)
      }
    },
    localArpeggio: {
      get(): boolean {
        return this.arpeggio
      },
      set(arpeggio: boolean) {
        this.updateArpeggio(arpeggio)
      }
    },
    keymap(): Keymap {
      // We want space to toggle play and not trigger focused elements. UNLESS the modal is showing in which case we need to be
      // able to type spaces as normal
      return this.keyBindingsActive ? {
        'space': event => {
          event.preventDefault()
          this.toggle()
        }
      } : {}
    },
    earTrainingLink(): RawLocation {
      const fourChords = this.progression.slice(0, 4)
      return {
        name: 'Training',
        query: {
          degrees: fourChords.join(',')
        }
      }
    }
  },
  methods: {
    ...mapActions('chordProgression', [
      'setName'
    ]),
    ...mapActions('app', [
      'setKeyBindingsActive'
    ]),
    toggle() {
      this.$emit('toggle')
    },
    showModal(onSave: () => void) {
      (this.$refs.exportModal as unknown as ExportModalType).show(this.progressionName, (name: string) => {
        this.setName(name)
        Vue.nextTick(() => onSave())
      })
    },
    share() {
      this.$emit('share')
    },
    copy() {
      this.$emit('copy')
    },
    download() {
      this.showModal(() => { this.$emit('download') })
    },
    print() {
      this.showModal(() => { this.$emit('print') })
    },
    updateBpm: _debounce(function (this: any, bpm: number) {
      if (bpm === this.bpm) return
      setBpm(this.$route, this.$router, bpm)
    }, 100),
    updateLoop(loop: boolean) {
      if (loop === this.loop) return
      setLoop(this.$route, this.$router, loop)
    },
    updateArpeggio(arpeggio: boolean) {
      if (arpeggio == this.arpeggio) return
      setArpeggio(this.$route, this.$router, arpeggio)
    }
  }
})
</script>

<style lang="scss" scoped>
@import '../assets/sass/bulmaVariables';
@import '../assets/sass/variables';
@import '../assets/sass/colours';

$playSize: $iconLarge;
$playOutline: 4px;

@mixin iconButton($size, $padding) {
  border-radius: 50%;
  height: $size + ($padding * 2);
  width: $size + ($padding * 2);
  padding: $padding;
}

.button.play-button {
  @include iconButton($playSize, $playOutline);
  position: absolute;
  top: -40px;
  left: calc(50% - #{$playSize / 2} - #{$playOutline});
  background-color: $white;
  svg {
    .primary {
      fill: $light-blue-vivid-900;
    }
    .secondary {
      fill: $white;
    }
  }
  &:disabled {
    background-color: $white;
    opacity: 1;
    svg {
      opacity: 0.5;
    }
  }
  &:hover, &:active, &:focus {
    svg .primary {
      fill: $light-blue-vivid-800;
    }
  }
}
.button.general-control {
  @include iconButton($iconLarge, 1px);
  background-color: transparent;
  svg {
    .primary {
      fill: rgba($dark, 0.2);
    }
    .secondary {
      fill: $white;
    }
  }
  &:hover, &:focus, &:active {
    background-color: transparent;
    svg {
      .primary {
        fill: rgba($dark, 0.5);
      }
    }
  }
}
</style>

<style lang="scss">
@import '../assets/sass/colours';

.field.is-grouped.is-end {
  justify-content: flex-end;
}
.bpm-input {
  .button.is-static {
    color: $grey-200;
    border: none !important;
  }
}
.b-slider .b-slider-track {
  border: 1px solid $grey-300;
}
</style>