<template>
  <section class="print-section">
    <div class="level">
      <div class="level-left">
        <h2 class="level-item">{{progressionName}}</h2>
      </div>
      <div class="level-right">
        <div class="level-item">{{scaleInKey.name(isFlats)}}</div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div v-for="(chord, i) in chordProgression.chords" :key="i" class="column my-5 is-one-quarter">
        <div v-if="chord">
          <div v-html="getChordNumeral(chord)"></div>
          <div v-html="getChordSymbol(chord)"></div>
        </div>
        <div v-else>
          <div>Rest</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { mapState } from 'vuex'
import { ChordProgressionChord } from '../application/models/chordProgression'
import hasChordProgression, { HasChordProgressionMixinData } from '@/mixins/hasChordProgression'
import hasScaleInKey, { HasScaleInKeyMixinData } from '@/mixins/hasScaleInKey'
import hasEnharmonics, { HasEnharmonicsMixinData } from '@/mixins/hasEnharmonics'

type Mixins = HasChordProgressionMixinData & HasScaleInKeyMixinData & HasEnharmonicsMixinData

export default (Vue as VueConstructor<Mixins>).extend({
  mixins: [hasChordProgression, hasScaleInKey, hasEnharmonics],
  computed: {
    ...mapState('chordProgression', [
      'progressionName'
    ])
  },
  methods: {
    getChordNumeral(chordProgressionChord: ChordProgressionChord) {
      const chord = chordProgressionChord.getChord(this.scaleInKey, this.isFlats)
      return chord.chordNumeral
    },
    getChordSymbol(chordProgressionChord: ChordProgressionChord) {
      const chord = chordProgressionChord.getChord(this.scaleInKey, this.isFlats)
      return chord.chordSymbol
    }
  }
})
</script>

<style lang="scss" scoped>
.print-section {
  display: none;
}
@media print {
  .print-section {
    display: block;
    font-size: 1.5em;
  }
}
</style>