<template>
  <b-menu class="training-menu" :activable="false">
    <b-menu-list>
      <b-menu-item class="my-4" label="Custom" @click="showCustom = !showCustom"
        :active="custom"
        :class="{'is-active': custom}"/>
    </b-menu-list>
    
    <transition name="expand">
      <section class="custom-box" v-if="showCustom">
        <div class="px-2 box">
          <custom-training-form class="px-2" />
        </div>
      </section>
    </transition>
    
    <b-menu-list label="Intervals">
      <b-menu-item
        v-for="interval in intervals" :key="interval.join()"
        tag="router-link"
        :to="{ name:'Training', query: makeQuery(interval)}"
        :active="isActive(interval)"
        :class="{'is-active': isActive(interval)}"
        :label="toDisplay(interval)"/>
    </b-menu-list>
    <b-menu-list label="Chord progressions">
      <b-menu-item
        v-for="progression in progressions" :key="progression.join()"
        tag="router-link"
        :to="{ name:'Training', query: makeQuery(progression)}"
        :active="isActive(progression)"
        :class="{'is-active': isActive(progression)}"
        :label="toDisplay(progression)"/>
    </b-menu-list>
  </b-menu>
</template>

<script lang="ts">
import Vue from 'vue'
import CustomTrainingForm from '@/components/CustomTrainingForm.vue'
import { toRoman } from 'roman-numerals'
import _range from 'lodash/range'

export default Vue.extend({
  props: {
    selectedDegrees: { type: Array as () => number[], required: false },
    custom: { type: Boolean, default: false }
  },
  components: {
    CustomTrainingForm
  },
  data() {
    return {
      intervals: _range(2, 8).map(d => [1, d]),
      progressions: [
        [1, 4, 5],
        [1, 6, 4, 5],
        [1, 5, 6, 3],
        [1, 5, 6, 4],
        [2, 5, 1],
        [1, 6, 7],
        [1, 4, 7]
      ],
      showCustom: false
    }
  },
  computed: {
    allPresetKeys(): string[] {
      return [...this.intervals, ...this.progressions].map(d => d.join())
    }
  },
  methods: {
    toDisplay(degrees: number[]) {
      return degrees.map(d => toRoman(d)).join(' - ')
    },
    isActive(degrees: number[]) {
      return !this.custom && this.selectedDegrees && this.selectedDegrees.join() === degrees.join()
    },
    makeQuery(progression: number[]) {
      return Object.assign({}, this.$route.query, {
        degrees: progression.join(',')
      })
    }
  }
})
</script>

<style lang="scss">
@import '../assets/sass/colours';
@import '~bulma/bulma.sass';

.custom-list {
  border-top: 1px solid black;
}
.custom-form {
  background-color: $grey-200;
  border-radius: 8px;
}
.custom-box {
  overflow-y: hidden;
}
.expand-enter-active, .expand-leave-active {
  height: 350px;
}
.expand-enter, .expand-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
}
@include until($desktop) {
  .training-menu {
    text-align: center;
    ul.menu-list li {
      display: inline-block;
      padding: 0 1em;
    }
  }
}
</style>