<template>
  <section v-hotkey="keymap">
    <div class="columns is-mobile is-variable is-1-mobile is-3-desktop">
      <div class="column is-one-quarter mb-3"
        v-for="(chord, i) in chordProgression.chords"
        :key="i">
        <chord-display
          v-if="chord"  
          :chord="chord"
          :scaleInKey="scaleInKey"
          :isFlats="isFlats" />
      </div>
    </div>

    <div class="is-relative">
      <button class="button is-text play-button" :title="playing ? 'Stop' : 'Play'" :disabled="disablePlayback" @click="toggle">
        <icon-pause class="is-large" v-if="playing"/>
        <icon-play class="is-large" v-else/>
      </button>

      <div class="level">
        <div class="level-left"></div> <!-- This shouldn't need to be here, but here we are -->
        <div class="level-right">
          <div class="level-item">
            <b-dropdown hoverable aria-role="list" position="is-top-left" class="has-text-left">
              <button class="button is-dominant" :class="{'is-small': isMobile}" title="Export progression" slot="trigger">
                <icon-door-exit class="mr-2 is-white-and-blue is-small-mobile"/> Export
              </button>

              <b-dropdown-item v-if="canShare" has-link aria-role="menuitem">
                <a href="#" @click.prevent="share"><icon-inbox-upload class="mr-3 is-small"/> Share</a>
              </b-dropdown-item>
              <b-dropdown-item has-link aria-role="menuitem"><a href="#" @click.prevent="copy"><icon-duplicate class="mr-3 is-small"/> Copy link</a></b-dropdown-item>
              <b-dropdown-item has-link aria-role="menuitem" v-if="!disablePlayback"><router-link :to="createLink"><icon-ear class="mr-3 is-small"/> Open in Ear Training</router-link></b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'
import { mapState } from 'vuex'
import { EarTrainingSet, EarTrainingRestrictions, EarTrainingGenerator } from '@/application/models/earTrainingSet'
import { TRIAD } from '../application/models/chords'
import { octaves, defaultOctave } from '../application/models/octaves'
import { notes } from '../application/models/notes'
import { queueProgression } from '@/application/TonePlayer'
import ChordDisplay from '@/components/ChordDisplay.vue'
import { ScaleInKey, KeyScaleDegree } from '../application/models/ScaleInKey'
import * as Tone from 'tone'
import { ChordProgression, queryChordSeparater } from '../application/models/chordProgression'
import { majorScale } from '../application/models/scales'
import IconPlay from '@/assets/icons/icon-play.svg'
import IconPause from '@/assets/icons/icon-pause.svg'
import IconDoorExit from '@/assets/icons/icon-door-exit.svg'
import IconInboxUpload from '@/assets/icons/icon-inbox-upload.svg'
import IconDuplicate from '@/assets/icons/icon-duplicate.svg'
import IconEar from '@/assets/icons/icon-ear.svg'
import hasScaleInKey, { HasScaleInKeyMixinData } from '@/mixins/hasScaleInKey'
import { RawLocation } from 'vue-router'
import hasBreakpoints, { HasBreakpointsMixinComputed } from '@/mixins/hasBreakpoints'
import hasEnharmonics, { HasEnharmonicsMixinData } from '@/mixins/hasEnharmonics'

type Mixins = HasScaleInKeyMixinData & HasBreakpointsMixinComputed & HasEnharmonicsMixinData

export default (Vue as VueConstructor<Mixins>).extend({
  mixins: [hasScaleInKey, hasBreakpoints, hasEnharmonics],
  components: {
    ChordDisplay,
    IconPlay,
    IconPause,
    IconDoorExit,
    IconInboxUpload,
    IconDuplicate,
    IconEar
  },
  props: {
    degrees: { type: Array as () => number[] },
    variants: { type: Array as () => string[], default: (() => [TRIAD.toString()]) as () => string[] },
    inversions: { type: Boolean, default: true },
    octaves: { type: Array as () => number[], default: (() => octaves.slice(0, 2)) as () => number[] },
    canShare: { type: Boolean }
  },
  data() {
    return {
      playing: false,
      chordProgression: new ChordProgression([], new ScaleInKey(notes[0], majorScale)) // this is just here for the typing. It will get reassigned before it is used
    }
  },
  computed: {
    ...mapState('sampler', [
      'samplerLoaded',
      'sampler'
    ]),
    trainingSet(): EarTrainingSet {
      return new EarTrainingSet(this.degrees as number[])
    },
    restrictions(): EarTrainingRestrictions {
      return new EarTrainingRestrictions(this.variants as string[], this.inversions, this.octaves as number[])
    },
    scaleDegrees(): KeyScaleDegree[] {
      return this.trainingSet.degrees.map(degree => (this.scaleInKey as ScaleInKey).getDegree(degree, false))
    },
    buttonText(): string {
      return this.playing ? 'Stop' : 'Play'
    },
    progressionGenerator(): EarTrainingGenerator {
      return new EarTrainingGenerator(this.trainingSet, this.restrictions, this.scaleInKey)
    },
    disablePlayback(): boolean {
      return !this.samplerLoaded || this.chordProgression.isEmpty
    },
    createLink(): RawLocation {
      const degrees = this.chordProgression.chords.map(c => {
        return c ? `${c.degree}.3.0.${defaultOctave}` : 'r'
      })
      return {
        name: 'Create',
        query: {
          chords: degrees.join(queryChordSeparater)
        }
      }
    },
    keymap(): Keymap {
      return {
        'space': event => {
          event.preventDefault()
          this.toggle()
        }
      }
    }
  },
  watch: {
    progressionGenerator: {
      handler() {
        this.chordProgression = this.progressionGenerator.generateProgression()
      },
      immediate: true
    },
    chordProgression: {
      handler() {
        this.queueProgression()
      },
      immediate: true
    }
  },
  beforeMount() {
    Tone.Transport.loop = true
    Tone.Transport.bpm.value = 200
    Tone.Transport.stop()
    Tone.Transport.on('start', () => {this.playing = true})
    Tone.Transport.on('stop', () => {this.playing = false})
    Tone.Transport.on('pause', () => {this.playing = false})
  },
  methods: {
    async toggle() {
      await Tone.start()
      const state = Tone.Transport.state
      if(state === 'started') {
        Tone.Transport.stop()
        this.$gtag.event('training: stop playback')
      } else {
        Tone.Transport.start('+0.1')
        this.$gtag.event('training: start playback')
      }
    },
    queueProgression() {
      queueProgression(this.sampler, this.chordProgression, this.scaleInKey, false, () => {
        this.chordProgression = this.progressionGenerator.generateProgression()
      })
    }
  }
})
</script>

<style lang="scss">
@import '../assets/sass/bulmaVariables';
@import '../assets/sass/variables';
@import '../assets/sass/colours';

.button.play-button {
  border-radius: 50%;
  height: $iconLarge;
  width: $iconLarge;
  padding: 0;
  position: absolute;
  left: calc(50% - #{$iconLarge / 2});
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
  svg {
    .primary {
      fill: $dominant;
    }
    .secondary {
      fill: $white;
    }
  }
}
</style>