// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import './variables';
@import './colours';

$primary: $light-blue-vivid-800;
$primary-invert: findColorInvert($primary);
$white: $grey-050;
$black: $grey-900;
$info: $light-blue-vivid-500;
$info-invert: findColorInvert($info);
$success: $teal-300;
$success-invert: findColorInvert($success);
$warning: $yellow-vivid-300;
$warning-invert: findColorInvert($warning);
$danger: $red-vivid-500;
$danger-invert: findColorInvert($danger);
$light: $grey-100;
$light-invert: findColorInvert($light);
$dark: $grey-800;
$dark-invert: findColorInvert($dark);
$link: $light-blue-vivid-700;
$link-invert: findColorInvert($link);
$link-focus-border: $link;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "tonic": ($tonic, $tonic-invert),
  "predominant": ($predominant, $predominant-invert),
  "dominant": ($dominant, $dominant-invert)
);

$background: $grey-050;
$text: $grey-700;
$button-text-decoration: none;
