@import './variables';
@import '~bulma/bulma.sass';
@import './bulmaVariables';

body {
  width: 100vw;
  overflow: hidden;
  background-color: $background;
  min-height: 100vh;
}

* {
  transition: all $transitionDuration $transitionCurve;
}

h1 { @extend .is-size-2; font-family: $titleFont; }
h2 { @extend .is-size-3; font-family: $titleFont; }
h3 { @extend .is-size-4; font-family: $titleFont; }

.is-size-0 {
  font-size: 3.5em !important;
}

.select.is-transparent, .control.is-transparent {
  &:not(.is-multiple):not(.is-loading):after { // the caret on select boxes
    border-color: $primary;
  }
  select, input, .button {
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid $grey-300;
    border-radius: 0;
    box-shadow: none;
  }
}

.has-background-gradient {
  @extend .has-background-tonic;
  background: $blueGradient;
  color: $white;
  a, select, .select select {
    color: $white;
    border-color: $white;
  }
  .select:not(.is-multiple):not(.is-loading):after { // the caret on select boxes
    border-color: $white;
  }
  .select.is-transparent, .control.is-transparent {
    select, input, button {
      color: $white;
    }
  }
}

.overlap-section {
  &:not(:first-child) {
    margin-top: -1.5rem;
    padding-top: 1.5rem;
    box-shadow: 0 -0.5em 2em -0.125em rgba($black, 0.15);
    @media screen and (max-width: 1023px) {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }
  }
  &:not(:last-child) {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 1.5rem;
    &.to-edge-mobile {
      padding: 0;
      .column:first-child {
        margin-left: 1em;
      }
      .column:last-child {
        margin-right: 1em;
      }
    }
  }
}

@media(max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

sup {
  vertical-align: top;
  font-size: 0.6em;
}

.no-min-height {
  min-height: 0 !important;
}

.centered-xy {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.chord-box {
  font-family: $chordFont;
  box-shadow: $chordShadow;
  color: white;
  position: relative;
  border-radius: 10px;
}

.is-space-between {
  justify-content: space-between !important;
}

.navbar-menu {
  .navbar-icon {
    width: 20px;
    margin-right: 0.5em;
  }
  a.navbar-item, a {
    color: $white;
    &:hover, &:active, &:focus {
      background-color: transparent;
      color: $white;
    }
  }
  a.navbar-item {
    border-bottom: transparent solid 1px;
    font-size: 1.1em;
    position: relative;
    &:hover, &:active, &:focus {
      border-bottom: rgba($white, 0.5) solid 1px;
    }
    &.router-link-exact-active {
      border-bottom: $white solid 1px;
    }
  }
}
