@import './bulmaVariables';
@import './variables';

[class^="icon-"] {
  width: $iconSize;
  &.is-large {
    width: $iconLarge;
  }
  &.is-medium {
    width: $iconMedium;
  }
  &.is-small {
    width: $iconSmall;
  }
  @include until($desktop) {
    &.is-small-mobile {
      width: $iconSmall;
    }
    &.is-medium-mobile {
      width: $iconMedium;
    }
  }
}

svg {
  .primary {
    fill: $light-blue-vivid-500;
  }

  .secondary {
    fill: $light-blue-vivid-900;
  }
  &.is-white {
    .primary {
      fill: $white !important;
    }
  
    .secondary {
      fill: $white !important;
    }
  }
  &.is-white-and-blue {
    .primary {
      fill: $white;
    }
    .secondary {
      fill: $light-blue-vivid-900;
    }
  }
}