@import "~bulma/sass/utilities/_all";
@import './colours';

$chordFont: 'Oswald', sans-serif;
$titleFont: 'Amaranth', sans-serif;

$tonic: $light-blue-vivid-800;
$predominant: $light-blue-vivid-700;
$dominant: $light-blue-vivid-600;

$tonic-invert: findColorInvert($tonic);
$predominant-invert: findColorInvert($predominant);
$dominant-invert: findColorInvert($dominant);

$transitionDuration: 0.4s;
$transitionCurve: cubic-bezier(0.34, 1.56, 0.64, 1);

// vue2-animate / animate.css
$animationDuration: $transitionDuration;

$blueGradient: linear-gradient(to right,  $tonic 0%,$dominant 100%);
$steppedGradient: linear-gradient(to right, $tonic 0%, $tonic 50%, $predominant 50%, $predominant 75%, $dominant 75%, $dominant 100%);

$chordShadow: 0.5em 0.5em 1em -0.125em rgba($black, 0.15);
$chordShadowRaised: 0.5em 0.75em 1em -0.125em rgba($black, 0.2);
$chordShadowHighlight: 0 0 0 4px $yellow-vivid-500;
$emptyChordHighlight: 0 0 0 4px $light-blue-vivid-600;

$overlapShadow: 0 -0.5em 2em -0.125em rgba($black, 0.15);

$iconSize: 24px;
$iconSmall: 20px;
$iconMedium: 38px;
$iconLarge: 50px;